{% load static %}
<script src="{% static 'assets/js/notifications.js' %}?v=3" defer></script>
<script src="{% static 'assets/js/websocket.js' %}?v=3" defer></script>
<script src="{% static 'assets/js/finance-ui.js' %}?v=1" defer></script>
<script src="{% static 'assets/js/dashboard-ui.js' %}?v=1" defer></script>
<script src="{% static 'assets/js/chart.js' %}?v=3" defer></script>
<script src="{% static 'assets/js/watchlist.js' %}?v=3" defer></script>
<script src="{% static 'assets/js/orderbook.js' %}?v=3" defer></script>
<script src="{% static 'assets/js/trading-toast.js' %}?v=1" defer></script>
<script src="{% static 'assets/js/trading.js' %}?v=3" defer></script>
